:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
}

#app {
  padding: 2rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* video, #webcam {
  width: 100%;
  height: auto;
} */

video {
  display: block;
  width: 480px;
  heigth: 360px;
  clear: both;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}


#flex-container {
  display: flex;
}

.app-container {
  display: flex;
  column-gap: 20px;
  width: 95vw;
  height: 90vh;
  width: inherit;
  height: inherit;
}

.vc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex: 1 1 auto;
  padding: 2px;
  overflow-y: scroll;
  
}

.three-container{
  position: relative;
  flex-grow: 3;
}

canvas {
  width: 100%;
  height: 100%;
}

.brand-color {
  background-color: lightskyblue;
}

.nav-textcolor {
  color: white;
}

#chat-container {
  flex-grow: 1;  /* Allows the chat container to grow and fill the space */
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  padding: 10px;
  overflow: hidden; /* Prevents overflow issues */
}

#chat-box {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
}

#message-input, button {
  width: auto;
  flex-grow: 1; /* Allows input and button to grow and fill the form space */
}


#replayButton {
  display: none
}